.listContainer {
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    width: 100%;
    min-height: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(165, 42, 42, 0.686);
}

.noBreedsLoaded {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.pages {
    display: flex;
    margin: 0;
    height: 30px;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    align-items: center;
    background-color: rgb(253, 253, 131);
}