.listContainer {
    width: 100%;
    min-height: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.noBreedsLoaded {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.pages {
    display: flex;
    margin: 20px 0;
    height: 30px;
    flex-direction: row;
    justify-content: space-around;
}

.elem-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.darker {
    background-color: rgba(0, 0, 0, 0.575);
}