.breed-container {
    /* border: 1px solid black; */
    /* height: 50%; */
    padding-left: 10px;
    font-size: small;
    overflow-y: hidden;
}

.breed-link:hover {
    background-color: rgba(185, 185, 185, 0.777);
    box-shadow: -5px -5px rgba(78, 78, 78, 0.432);
}

.breed-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
    width: 20%;
    margin-bottom: 30px;
    height: 300px;
}

.breed-img {
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border: 1px solid rgb(131, 131, 131); */
}

.breed-title {
    margin: 5px auto;
}