.search-container {
    width: 100%;
    min-height: 40px;   
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.658);
}

.pos-search-btn {
    min-width: 60px;
    width: 5%;
}

.input {
    font-size: large;
    width: 95%;
    
}