.nav-bar {
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    
}

.link-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-direction: row;
}

.linkText {
    /* border: 1px solid black; */
    height: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
    padding: 0;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    
}

.nav-link {
    /* border: 1px solid black; */
    height: 100%;
    width: fit-content;
    /* margin-right: 10px; */
    padding: 0;
    border-left: 1px solid grey;
    text-decoration: none;

}

.nav-link:hover {
    background-color: rgba(18, 92, 92, 0.89);
}
